<a href="https://colab.research.google.com/github/rupaas/AIML_2303A52417/blob/main/LAB_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 01: Lab Task is implement the following data structures using Numpy and Pandas.**

1.Lists
2.Arrays
3.Identify their type using type()
4.Perform mathematical operations on these datasets created - multiplication, division, poweroff
5.Combine text with Numpy fuction to generate a textual output - ‚ÄùAddition of Two: array1 +array 2
6.Implement np.sin(), log(), log2(), np.exp())

In [1]:
import numpy as np
list1=[1,2,3]
array1 = np.array(list1)
array1

array([1, 2, 3])

In [2]:
type(list1)

list

In [3]:
type(array1)

numpy.ndarray

# Perform Mathematical Operations on these datasets - Multiplication, Division, Poweroff

In [6]:
import numpy as np
array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([6, 7, 8, 9, 10])
multiplication = array1 * array2
division = array2 / array1
power = array2 ** array1
print("array2 multiplied by array1: ", multiplication)
print("array2 divided by array1: ", division)
print("array2 raised to the power of array1: ", power)

array2 multiplied by array1:  [ 6 14 24 36 50]
array2 divided by array1:  [6.         3.5        2.66666667 2.25       2.        ]
array2 raised to the power of array1:  [     6     49    512   6561 100000]

In [ ]:

print("array2 multiplied by array1: ", multiplication)
print("array2 divided by array1: ", division)
print("array2 raised to the power of array1: ", power)



print("Sine: ", np.sin(array1))


print("Natural logarithm: ", np.log(array1))
print("Base-10 logarithm: ", np.log10(array1))
print("Base-2 logarithm: ", np.log2(array1))


print("Exponential: ", np.exp(array1))